# Ignore virtual environments
venv/
ENV/
env/

# Ignore VS Code configuration
.vscode/

# Ignore Windows Zone Identifier files
*:Zone.Identifier

# Ignore local audio/test files if you don't want them on GitHub
*.aac
